<section class="m-auto">
    <form class="flex flex-col" action="">
        <label for="date">Fecha de la factura</label>
        <input name="date" class="border m-1" type="date">
        <label for="price">Precio de la factura</label>
        <input name="price" class="border m-1" type="number">
        <label for="commerce">Comercio de la factura</label>
        <input name="commerce" class="border m-1" type="text">
        <label for="category">Categoría de la factura</label>
        <input name="category" class="border m-1" type="">
        <button class="bg-amber-100 cursor-pointer" type="submit">Confirmar datos</button>
    </form>
</section>
